<a href="https://colab.research.google.com/github/diegomarlop/LAB_IRONHACK/blob/main/Lab7_04.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Lab | Inferential statistics - T-test & P-value

In [ ]:
#1
#We will have another simple example on two sample t test (pooled- when the variances are equal). But this time this is a one sided t-test

#In a packing plant, a machine packs cartons with jars. It is supposed that a new machine will pack faster on the average than the machine currently used. 
#To test that hypothesis, the times it takes each machine to pack ten cartons are recorded. 
#The results, in seconds, are shown in the tables in the file files_for_lab/machine.txt. 
#Assume that there is sufficient evidence to conduct the t test, does the data provide sufficient evidence to show if one machine is better than the other

"""
New machine	    Old machine
42.1	        42.7
41	          43.6
41.3	        43.8
41.8	        43.3
42.4	        42.5
42.8	        43.5
43.2	        43.1
42.3	        41.7
41.8	        44
42.7	        44.1

"""
import numpy as np
from statistics import math

In [ ]:
new_m = np.array([42.1,41,41.3,41.8,42.4,42.8,43.2,42.3,41.8,42.2])

In [ ]:
mean_nm = np.mean(new_m)
mean_nm

42.089999999999996

In [ ]:
old_m = np.array([42.7,43.6,43.8,43.3,42.5,43.5,43.1,41.7,44,44.1])

In [ ]:
mean_om = np.mean(old_m)
mean_om

43.230000000000004

In [ ]:
std_nm = np.std(new_m)
std_om = np.std(old_m)
print(std_nm)
print(std_om)

0.6220128616033602
0.7114070564732956

In [ ]:
n_nm = 10
n_om = 10

t = (mean_nm - mean_om)/math.sqrt(math.pow(std_nm,2)/n_nm + math.pow(std_om,2)/n_om)
t

-3.8148645440384774

In [ ]:
import scipy.stats
(1-scipy.stats.t.sf(-3.8148, df=(n_nm-1)+(n_om-1)))*2

0.0012688441377495252

In [ ]:
## calculator --> 0.00126884
## the machines aren't equal

In [ ]:
#2
#An additional problem (not mandatory): In this case we can't assume that the population variances are equal. 
#Hence in this case we cannot pool the variances. Independent random samples of 17 sophomores and 13 juniors attending a large university yield the following data on grade point averages. 
#Data is provided in the file files_for_lab/student_gpa.txt. At the 5% significance level, do the data provide sufficient evidence to conclude that the mean GPAs of sophomores and juniors at the university differ?
"""
Sophomores	  Juniors
3.04	        2.56
1.71	        2.77
3.3	          2.7
2.88	        3
2.11	        2.98
2.6	          3.47
2.92	        3.26
3.6	          3.2
2.28	        3.19
2.82	        2.65
3.03	        3
3.13	        3.39
2.86	        2.58
3.49	
3.11	
2.13	
3.27

"""

In [8]:
import pandas as pd
data = pd.read_csv('student_gpa.txt',sep='\t')

In [9]:
data

    Sophomores    Juniors
0         3.04       2.56
1         1.71       2.77
2         3.30       2.70
3         2.88       3.00
4         2.11       2.98
5         2.60       3.47
6         2.92       3.26
7         3.60       3.20
8         2.28       3.19
9         2.82       2.65
10        3.03       3.00
11        3.13       3.39
12        2.86       2.58
13        3.49        NaN
14        3.11        NaN
15        2.13        NaN
16        3.27        NaN

In [20]:
mean_s = data['Sophomores'].mean()

In [12]:
mean_j = data['  Juniors'].mean()
mean_j

2.980769230769231

In [14]:
std_s = data['Sophomores'].std()
std_j = data['  Juniors'].std()
print(std_s)
print(std_j)

0.5198317035349037
0.3092588327615327

In [22]:
from statistics import math
n_s= len(data['Sophomores'])
n_j = len(data['  Juniors'])-data['  Juniors'].isna().sum()

t = (mean_s - mean_j)/math.sqrt(math.pow(std_s,2)/n_s + math.pow(std_j,2)/n_j)
t

-0.9231495630900276

In [23]:
import scipy.stats
(1-scipy.stats.t.sf(-0.9231, df=(n_s-1)+(n_j-1)))*2

0.36384185819695447

In [ ]:
## calculator --> -0.36384186

In [4]:
from scipy import stats

In [7]:
stats.ttest_ind(data['Sophomores'],data['  Juniors'],nan_policy = 'omit')

Ttest_indResult(statistic=-0.864325455323425, pvalue=0.394753596666959)